<div class="jumbotron">
  <%= link_to @world.title_url, target: :_blank do %>
  <h1 class="display-4"><%= truncate(@world.title, length: 120) %></h1>
  <p class="lead"><%= (@world.source) %></p>
  <hr class="my-4">
  <p>      
    <%= image_tag (@world.image_url if !@world.image_url.nil? ) %>
  <div class="card-footer text-muted">
    <% end %>
    Story Published <%= time_ago_in_words(@world.created_at) %> ago
  </div>
  </p>
  <p class="lead">
  </p>
</div>
<%= render 'comments/form' %>
<p id='the-message'></p>
<% @world.comments.each do |comment| %> 
<div class="card border-primary mb-3">
  <div class="card-header"><%= comment.user.email %>
  </div>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text"><%= comment.comment %></p>
  </div>
</div>
<%= link_to like_comment_path(comment), class: 'like-btn',  remote: true, method: :put do %>
<span class='green'>
  <p id='dynamic-heart-<%= comment.id %>' class='heart'>
    <i class='fa fa-arrow-up fa-1x'></i> 
    <span class='dynamic-likes<%= comment.id %>'> <%= comment.get_likes.size %></span>
  </p>
</span>
<% end %>
<%= link_to unlike_comment_path(comment), class: 'like-btn',  remote: true, method: :put do %>
<span class='red'>
  <p id='dynamic-heart-<%= comment.id %>' class='heart'>
    <i class='fa fa-arrow-down fa-1x'></i> 
    <span class='dynamic-dislikes<%= comment.id %>'> <%= comment.get_dislikes.size %></span>
  </p>
</span>
<% end %>
<% end %>
<%= render @world.comments %> 
<%= render 'jq' %>  
</div>
</div>
</div>