<div data-turbolinks="false">
<div class='row'>
  <div class='col-sm-3'>
    <div class="card mb-3">
      
      <h3 class="card-header"><%= truncate(@world.title, length: 60) %></h3> 
      <div class="card-body">
        <h5 class="card-title"><%= (@world.source) %></h5>

      </div>
      <%= link_to @world.title_url, target: :_blank do %>
      <% end %>
      <%= image_tag (@world.image_url if !@world.image_url.nil? ) %>
      <div class="card-footer text-muted">
        Story Published <%= time_ago_in_words(@world.created_at) %> ago
      </div>
    </div>
  </div>
</div>




<p id='the-message'></p>   

<%= render 'comments/form' %>




<% @world.comments.each do |comment| %> 

 

<div class="card border-primary mb-3">
  <div class="card-header"><%= comment.user.email %>
  

  </div>
  <div class="card-body">
    <h4 class="card-title">
    
<%= link_to upvote_comment_path(comment), class: '',  remote: true, method: :put do %>
 <p id=''><i class='fa fa-thumbs-up fa-1x'></i> <span class='likes-count'><%= comment.get_likes.size %> </span></p> 

<% end %>


<%= link_to downvote_comment_path(comment), class: '',  remote: true, method: :put do %>
 <p id=''><i class='fa fa-thumbs-down fa-1x'></i> <span class=''> </span></p>  
<% end %>
</h4>
    <p class="card-text"><%= comment.comment %></p>
  </div>
</div>


  <% end %>




<script>
  
  // Enable pusher logging - don't include this in production
  Pusher.logToConsole = true;

  var pusher = new Pusher('3b8fe903171ecd2c3a5e', {
    cluster: 'us2',
    encrypted: true
  });

  var channel = pusher.subscribe('my-channel');
  channel.bind('my-event', function(data) {
    $("#the-message").append( '<p>' + data.user_email + ': ' +  data.comment + '</p>'); 

    // $("#user_email").append(); 
    $('#comment_comment').val('');   
  });


</script>

<%= render @world.comments %> 
</div>
</div>



