<%= paginate @tecs %>
<br><br>
<%= form_tag(tecs_path, method: :get, :class => 'form-inline') do %>
<div class="toolbar">
  <div class="actions">
    <i class="actions__item zmdi zmdi-search" data-sa-action="toolbar-search-open"></i>
  </div>
  <%= text_field_tag :term, params[:term], class: 'form-control' %>
  <%= submit_tag 'Search', class: 'btn btn-danger' %>
  <%= link_to "Clear Search", tecs_path, class: 'btn btn-info' %>
  <div class="toolbar__search" style="display: none;">
    <i class="toolbar__search__close zmdi zmdi-long-arrow-left" data-sa-action="toolbar-search-close"></i>
  </div>
</div>
<% end %>
<br><br>
<div class='row'>
  <% @tecs.each do |tec| %>
  <div class='col-sm-3'>
    <div class="card mb-3">
      <%= link_to tec.title_url, target: :_blank do %>
      <h3 class="card-header"><%= truncate(tec.title, length: 60) %></h3>
      <div class="card-body">
        <h5 class="card-title"><%= (tec.source) %></h5>
      </div>
      <% end %>
      <%= image_tag (tec.image_url if !tec.image_url.nil? ) %>
      <div class="card-footer text-muted">
        Story Published <%= time_ago_in_words(tec.created_at) %> ago
      </div>
    </div>
  </div>
  <% end %>
</div>
<br>

<%= link_to 'New Tec', new_tec_path %>



