<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>User Email</th>
      <th>Comment</th>
      <th>Like</th>
      <th>Unlike</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user_id %></td>
        <td><%= comment.user.email %></td>
        <td><%= comment.comment %></td>
        <td>
        <%= link_to upvote_comment_path(comment), class: '',  remote: true, method: :put do %>
        Upvote
        <span class='likes-count'><%= comment.get_likes.size %></span> 
        <% end %>
        </td>   
        <td>
        <%= link_to downvote_comment_path(comment), class: '',  remote: true, method: :put do %>
        Down Vote
        <% end %>
        </td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'form', comment: @comment %>
<script> 
  
  // Enable pusher logging - don't include this in production
  Pusher.logToConsole = true;

  var pusher = new Pusher('3b8fe903171ecd2c3a5e', {
    cluster: 'us2',
    encrypted: true
  });  
 
 
  var channel = pusher.subscribe('my-channel2');
  channel.bind('my-event2', function(data) {   

    $(".likes-count").html( data.up_vote );    
    $(".pusher_downvote").html( data.down_vote );     
  });


</script> 