<!DOCTYPE html>
<html>
  <head>
    <title><%= @app_setting.tab_name %></title>
    <%= csrf_meta_tags %>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script>
  
      // Enable pusher logging - don't include this in production
      Pusher.logToConsole = true;
  
      var pusher = new Pusher('3b8fe903171ecd2c3a5e', {
        cluster: 'us2',
        encrypted: true
      });
  
      var channel = pusher.subscribe('my-channel');
      channel.bind('my-event', function(data) {
        alert(data.message);
      });
    </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'theme.css', media: 'all', 'data-turbolinks-track': 'reload' %>  
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'https://js.stripe.com/v3/' %>
    <%= tag :meta, name: 'stripe-public-key', content: Rails.application.credentials.stripe_public_key %>
  </head>

  <body>
  <%= render 'layouts/navigation' %>
    
  <div class='container'>
    <%= bootstrap_flash %>
    <%= yield %>
  </div>
      <%= render 'layouts/footer' %>
  </body>
</html>
