<!DOCTYPE html>
<html>
  <head>
    <title>StripeApp</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'css/app.min.css', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>

    <%= javascript_include_tag 'https://js.stripe.com/v3/' %>
    <%= tag :meta, name: 'stripe-public-key', content: Rails.application.credentials.stripe_public_key %>
  </head>

  <body data-sa-theme=<%= @app_setting.theme_color %>>
<main class="main">
<% render 'layouts/partials/page_loader' %>
<%= render 'layouts/partials/header' %>
<%= render 'layouts/partials/side_navigation' %>
<%= render 'layouts/partials/themes' %>

<section class="content">
<%= bootstrap_flash %>
<% if @app_setting.boxed_content == true %> 
 <div class="content__inner">
<% end %>
<%= render 'layouts/partials/main_content' %>

  <%= yield %>
<%= render 'layouts/partials/footer' %>
<% if @app_setting.boxed_content == true %> 
  </div>
<% end %>
</section>

</main>



  </body>
</html>
    create_table :app_settings do |t|
      t.string :theme_color
      t.boolean :hidden_sidebar, default: false
      t.boolean :boxed_content, default: true
      t.string :name
      t.string :email
      t.string :tab_text

      rails g scaffold AppSetting theme_color hidden_sidebar:boolean boxed_content:boolean name email tab_text